.carousel{
    width:100%;   
    height:400px;
}  
.carouselInner{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


.carouselInner .left{
    flex:5%;
    height:100%;
    background-color: rgb(0,0,0,0.6);
    display: grid;
    justify-content: flex-end;
    left:10px;
    place-items: center;
    color: white;
    cursor: pointer;
}
.carouselInner .right{
    flex:5%;
    height:100%;
    background-color: rgb(0,0,0,0.6);
    display: grid;
    justify-content: flex-start;
    place-items: center;
    color: white;
    cursor: pointer;
}
.carouselInner .center{
    flex:80%;
    height:100%;
    background-color: rgb(0,0,0,0.1);
}