
.slider{
  background-color:whitesmoke;
	width: 100%;
  height:210px;
	overflow: hidden;
  padding-bottom: 20px;
}
h3{
  font-size: 25px;
  text-align: left;
  padding-right: 600px ;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 100px;
}