.Searchbar{
    width: 100%;
    height: 600px;
    display:flex;    
}
button:hover{
    cursor: pointer;
}
.Searchbar .rightSide{
    display:flex;
    flex:90%;
    justify-content: center;
    align-items: center;  
    border-radius: 1px;
}
.Searchbar .rightSide .row {
    text-decoration: none;
    margin-right:15px;
    background-color: white;
    width: 250px;
    flex-direction: row;
    color:black;
    font-size: 20px; 
    padding: 20px; 
    border-radius: 20px;  
}
.Searchbar .rightSide button{
    display:none;
    margin-right: 200px;
}
.Searchbar .rightSide #hidden{
    display: flex;
}
@media only screen and (max-width:850px){
    .Searchbar .rightSide .row{
        font-size: 25px;
    }
}
@media only screen and (max-width:200px){
    .Searchbar .rightSide .row {
        font-size: 25px;
        display: flex;
        flex-direction: column;
    }
    

}

.dropdown{
    width:30rem;
    position: relative;
}
.dropdown:hover .dropdown-list{
    opacity:1;
    visibility: visible;
}
.dropdown .select{
    padding: 1.5rem;
    border-radius: 1px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
}
.dropdown-list{
    border-radius: 2px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right:0;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear,visibility 0.2s linear; 
}
.dropdown-list-item{
    padding:2rem;
    font-size: 1rem;
}
.search{
    background-color: dodgerblue;
    font-size: 1rem;
}
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }