.slider{
  background-color:whitesmoke;
	width: 100%;
  height:210px;
	overflow: hidden;
  padding-bottom: 20px;
}
.container {
  width: 80%;  
	border: 1px solid black;
  margin-left: auto;
  margin-right: auto;  
}
.column {
  background-color: lightslategray;
	border-radius: 2px;
	border-color: black;
	height: 300px;
	margin-top: 0px;    
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.name {
  bottom: 0px;
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  color: black;
	text-align: center;
	font-style: italic;
  font-family: sans-serif;
}

